doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{sitename}
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.paper.min.css")
    link(rel="stylesheet" type="text/css" href="/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    #header
      include partials/header
    #body
      .container
        block content
    #footer
    script(src='/js/jquery-1.12.0.min.js')
    script(src='/js/bootstrap.min.js')
